#principal{
   
    display: flex;
    justify-content: center;
}
#contactUser {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 140px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}


.principalSummit{
    width: 100vw;
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}

.containerSummit{
    height: 200px;
    width: 200px;
    margin: 50px;
}
